html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  color: #23153C;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1.6;
  line-height: 21.94px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto;
}

.container.container--no-padding {
  padding: 0;
}

.btn {
  padding: 0 12px;
  max-width: 200px;
  min-height: 24px;
  font-family: "DM Sans", sans-serif;
  font-size: 8px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  border-radius: 20px;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: rgba(35, 21, 60, 0.9);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.logo {
  color: #FFFFFF;
  font-size: 38px;
  padding: 36px 0;
  margin-right: 55px;
}

.logo__acent {
  color: #FF3F81;
}

.site-nav__list {
  display: flex;
}

.site-nav__item {
  margin-right: 25px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #FFFFFF;
}

.site-nav__item:hover {
  color: #FF3F81;
  cursor: pointer;
}

.site-contacts {
  color: #FFFFFF;
  margin-left: auto;
}

.site-contacts__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-contacts__item:not(:last-child) {
  margin: 7px;
}

.site-contacts__icon {
  fill: #FFFFFF;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__icon:hover {
  fill: #FF3F81;
}

.intro {
  height: 800px;
  background-color: #23153C;
}

.hero {
  padding: 200px 0;
}

.hero__group {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.hero__title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

.hero__text {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  margin-left: 120px;
}

.hero__text-acent {
  display: inline-flex;
  font-family: monospace;
  width: 22ch;
  color: #FF3F81;
  font-weight: 900;
  font-size: 22px;
  border-right: 3px solid #FFFFFF;
  white-space: nowrap;
  overflow: hidden;
  animation: flashing-border 0.5s step-start infinite, printed-text-start 2.5s steps(21) 1;
}

@keyframes flashing-border {
  0% {
    border-color: #FFFFFF;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #FFFFFF;
  }
}

@keyframes printed-text-start {
  from {
    width: 0;
  }
}
/*# sourceMappingURL=main.css.map */