.intro {
  min-width: 320px;
  height: 100vh;
  background-color: $color-dark;
}

.hero {
  padding: 200px 0;
}

.hero__group {
  min-width: 180px;
  text-align: center;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    max-width: 800px;
  }
}

.hero__title {
  color: $color-white;
  font-weight: 900;
  font-size: 48px;
  line-height: 1.62;
  letter-spacing: 0.06em;
}

.hero__text {
  color: $color-white;
  font-size: 18px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  
  margin-bottom: 150px;

  @media screen and (min-width: $tablet) {
    margin-left: 120px;
  }

  &-acent {
    display: inline-flex;

    font-family: monospace;

    width: 22ch;
    color: $color-pink;
    font-weight: 900;
    font-size: 22px;

    border-right: 3px solid $color-white;
    white-space: nowrap;
    overflow: hidden;

    animation: flashing-border 0.5s step-start infinite,
      printed-text-start 2.5s steps(21) 1;
  }
}

@keyframes flashing-border {
  0% {
    border-color: $color-white;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: $color-white;
  }
}

@keyframes printed-text-start {
  from {
    width: 0;
  }
}

.hero__link {
  &:not(:last-child) {
    margin-right: 18px;
  }
}
